<div class="container">
  <!-- begin footer -->
  <footer class="footer">
    <div class="footer__inner">
      <div class="contact">
        <div class="contact__title">Work inquiry, question or something else? <a href="mailto:{{site.author.email}}">Email me</a>.</div>
        <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-instagram %}
          <li class="instagram"><a href="http://instagram.com/{{site.social-instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
        {% else %}
          <li class="instagram"><a href="http://instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
          <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:eric@ericlaurits.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
      <ul class="contact__list list-reset">
        {% for contact in site.contact %}
          <li class="contact__item">
            <a class="contact__link" href="{{contact.link}}">{{contact.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>
